* {
  box-sizing: border-box;
}

body, html {
  &.modal-active {
    overflow: hidden;
  }
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  overflow-x: hidden;
  @include media($big-mobile) {
    font-size: 12px;
    line-height: 18px;
  }
}

h1 {
  font-size: 3.5714rem;
  font-weight: bold;
  line-height: 3.8rem;
  margin-top: 0;
  @include media($big-mobile) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-top: 0;
  @include media($big-mobile) {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: $font-family;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  @include media($tablet) {
    width: 760px;
  }
  @include media($big-mobile) {
    width: 350px;
  }
  @include media($small-mobile) {
    width: 300px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  @include media($big-mobile) {
    padding: 20px 20px;
  }

  &.yellow {
    background-color: $yellow;
    border-radius: 12px;
    &:hover {
      background-color: darken($yellow, 3%);
    }
  }

  &.black {
    background-color: $black;
    border-radius: 12px;
    color: white;
    &:hover {
      background-color: lighten($black, 15%);
    }
  }
}

#header {
  position: relative;

  .decor-bg {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 756px;
    height: 100%;
    right: -100px;
    bottom: 0;
    overflow: hidden;
    @include media($tablet) {
      width: 90%;
      height: 600px;
      right: -6%;
      bottom: auto;
      top: 0;
    }
    @include media($big-mobile) {
      width: 100%;
      height: 320px;
      right: -6%;
      bottom: auto;
      top: 0;
    }
  }

  .decor-stripes {
    width: 800px;
    height: 550px;
    position: absolute;
    top: -155px;
    right: -170px;
    z-index: -1;
    transform: rotate(-45deg);
    will-change: transform;
    @include media($tablet) {
      width: 800px;
      height: 500px;
      top: -280px;
      right: -240px;
      path {
        stroke-dasharray: 60px;
      }
    }
    @include media($big-mobile) {
      width: 300px;
      height: 300px;
      top: -85px;
      right: -58px;
      path {
        stroke-dasharray: 30px;
      }
    }
    path {
      stroke-dashoffset: 1000;
    }
  }

  .decor-img {
    width: calc(100% - 42px);
    height: 611px;
    background: url(../img/bg/header-bg.png) no-repeat 100% 100%;
    background-size: 100%;
  }

  .header-container {
    max-width: 505px;
    margin-right: auto;
    padding: 120px 0 80px;
    @include media($tablet) {
      padding-top: 400px;
    }
    @include media($big-mobile) {
      padding-top: 250px;
    }

    .header-logo {
      margin-bottom: 56px;
      @include media($big-mobile) {
        margin-bottom: 30px;
      }
    }

    .header-descr {
      margin-bottom: 97px;
      line-height: 1.7rem;
      @include media($big-mobile) {
        line-height: 1.3rem;
        margin-bottom: 70px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 7px 0;
        }
      }
    }

    .header-btn {
      display: flex;
      justify-content: space-between;
      .btn {
        position: relative;
        width: calc(100% / 2 - 10px);
        &::after {
          @include pseudo-element();
          width: 52px;
          height: 52px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: 52px;
          top: calc(-50% - 24px);
          @include translateX;
        }
      }
      .facepalm {
        &::after {
          background-image: url(../img/svg/emoji-1.svg);
        }
      }
      .handup {
        &::after {
          background-image: url(../img/svg/emoji-2.svg);
        }
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  overflow-y: auto;
  animation: modalAnimation 0.3s ease-out;
  &.show {
    display: block;
    .modal-content {
      transform: scale(1);
      animation: modalAnimation2 0.3s ease-out;
    }
  }
  .modal-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0;
    transform: scale(0);
    @include media($tablet) {
      padding: 50px 0;
    }
    @include media($big-mobile) {
      padding: 30px 0;
    }
    .modal-item {
      flex: 0 0 calc(50% - 22px);
      min-height: 500px;
      padding: 50px;
      border-radius: 20px;
      @include media($tablet) {
        flex: 1;
        min-width: 100%;
      }
      @include media($big-mobile) {
        padding: 20px;
        min-height: auto;
      }
      h2 {
        position: relative;
        padding-left: 80px;
        @include media($big-mobile) {
          padding-left: 60px;
        }
        &::before {
          @include pseudo-element();
          width: 60px;
          height: 60px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 60px;
          left: 0;
          @include translateY;
          @include media($big-mobile) {
            width: 45px;
            height: 45px;
            background-size: 45px;
          }
        }
      }
      .form-send-massage {
        display: none;
        margin: auto;
        animation: modalAnimation 0.3s ease-out;
      }
      &.form-send {
        .form-send-massage {
          display: block;
        }
      }
    }
    input {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      padding: 15px 30px;
      background-color: $input-bg;
      border-radius: 11px;
      color: rgba(0, 0, 0, 0.32);
      @include media($big-mobile) {
        padding: 10px 12px;
        border-radius: 8px;
      }
    }
    .modal-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid rgba(0, 0, 0, 0.1);
      @include media($tablet) {
        margin-bottom: 50px;
      }
      @include media($big-mobile) {
        min-height: 180px;
        border: none;
        order: 2;
        margin-top: 45px;
        padding: 0;
        min-width: 100%;
      }
      &.form-send {
        form {
          display: none;
        }
        .politic-text {
          display: none;
        }
      }
      h2 {
        margin-bottom: 0;
        @include media($big-mobile) {
          margin-bottom: 40px;
          padding-left: 80px;
          padding-right: 20px;
        }
        &::before {
          background-image: url(../img/svg/emoji-1.svg);
          @include media($big-mobile) {
            left: 20px;
          }
        }
      }
      label {
        height: 100%;
        flex: 1;
        @include media($big-mobile) {
          max-height: 36px;
        }
      }
      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media($big-mobile) {
          margin-bottom: 20px;
        }
      }
      .btn {
        min-width: auto;
        padding: 15px 30px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 11px;
        margin-left: 10px;
        @include media($big-mobile) {
          padding: 10px 12px;
          border-radius: 8px;
        }
        &:hover {
          background-color: $input-bg;
        }
      }
    }
    .modal-checklist {
      padding: 50px 85px;
      background-color: black;
      color: white;
      @include media($big-mobile) {
        min-height: 370px;
        padding: 30px 20px;
        order: 1;
      }
      &.form-send {
        display: flex;
        align-items: center;
        justify-content: center;
        .form-send-massage {
          &::after {
            transform: translateX(-50%) translateY(-100%);
          }
        }
        form {
          display: none;
        }
        h2 {
          display: none;
        }
      }
      h2 {
        margin-bottom: 80px;
        @include media($big-mobile) {
          margin-bottom: 50px;
        }
        &::before {
          background-image: url(../img/svg/emoji-2.svg);
        }
      }
      form {
        label {
          display: block;
          border: 1px solid #FFFFFF;
          padding: 15px;
          border-radius: 45px;
          text-align: center;
          transition: background-color 0.3s, color 0.3s ease-in-out;
          cursor: pointer;
          @include media($big-mobile) {
            padding: 10px;
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
          }
          &:not(:last-child) {
            margin-top: 20px;
          }
          &:hover {
            background-color: white;
            color: black;
          }
          input {
            display: none;
          }
        }
      }
      .btn {
        width: 0;
        height: 0;
        visibility: hidden;
        padding: 0;
        margin: 0;
      }
      .form-send-massage {
        position: relative;
        text-align: center;
        transform: translateY(calc(50% + 20px));
        font-weight: 600;
        line-height: 2.5rem;
        font-size: 28px;
        &::after {
          @include pseudo-element();
          width: 100px;
          height: 100px;
          background: url(../img/svg/great.svg) no-repeat 50%;
          background-size: 100px;
          left: 50%;
          top: -20px;
          transform: translateX(-50%) translateY(-150%);
          animation: modalICon 0.3s ease backwards;
        }
      }
    }
    .politic-text {
      max-width: 240px;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.32);
      @include media($big-mobile) {
        font-size: 10px;
        line-height: 16px;
      }
      a {
        text-decoration: underline;
      }
    }
    .close {
      position: relative;
      font-size: 28px;
      font-weight: 600;
      padding-left: 35px;
      border: none;
      outline: none;
      background-color: transparent;
      margin-top: 75px;
      @include media($big-mobile) {
        order: 3;
        font-size: 16px;
        margin: 40px auto 0;
        padding-left: 25px;
      }
      &::before {
        @include pseudo-element();
        width: 20px;
        height: 35px;
        background: url(../img/svg/left-arrow.svg) no-repeat 50%;
        background-size: contain;
        left: 0;
        @include translateY;
        @include media($big-mobile) {
          height: 20px;
        }
      }
    }
  }
}