//text
$font-family: 'Montserrat', sans-serif;
$font-size: 14px;

//color
$black: black;
$yellow: #FBCB03;
$gray: #FFFFFF;
$input-bg: #F8F8F8;
$btn-bg: #F2F2F2;

// media
$tablet: 1270px;
$big-mobile: 767px;
$small-mobile: 325px;